body {
  background-color: #000;
  display: table;
  font-family: "Open Sans", Arial, sans-serif;
  height: 100%;
  width: 100%;
}

div {
  color: #fff;
  display: table-cell;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
}